body {
  background-color: #006A4E; 
}
.Login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.appLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo img{
 margin-left: -5px;
  width: 250px;
  height: 100px;
  object-fit: cover;
  align-items: center;
}

.LoginBox{
  margin-top: 8rem;
  width: 350px;
  background-color: goldenrod;
  padding: 30px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.LoginHeader{
  font-weight: bold;
  font-size: 24px;
  font-family: 'Arial';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
}

.email{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
}
.inputs{
  padding: 20px;
}
.password{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
}
/* .submitbutton{
  background-color: #023020; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  margin-right: 90px;
}
.submitbutton:hover{
 background-color: #F0E68C;
}
.inputs{
  padding: 20px;
} */
/* .signupbutton{
  background-color: #023020; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.signupbutton:hover{
  background-color: #F0E68C;
} */

.showPasswordLink {
  text-decoration: underline;
  color: white;
  cursor: pointer;

}

.showPasswordLink:hover {
  color: black;
}

.forgotPasswordLink {
  text-decoration: underline;
  color: white;
  cursor: pointer;
  margin-left: 90px;

}
.forgotPasswordLink:hover {
  color: black;
}


.submitbutton {
  align-items: center;
  background-color: #023020;
  border: 2px solid #023020;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.8px;
  margin: 4px 8px;
  margin-right:40px;
  outline: 0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitbutton:focus {
  color: #171e29;
}

.submitbutton:hover {
  background-color: black;
  border-color: black;
  fill: black;
}

.submitbutton:active {
  background-color: gold;
  border-color: gold;
  fill: gold;
}

@media (min-width: 600px) {
  .submitbutton {
    min-width: 50px;
  }
}

.signupbutton {
  align-items: center;
  background-color: #023020;
  border: 2px solid #023020;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.8px;
  margin: 4px 8px;
  margin-left: 40px;
  outline: 0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signupbutton:focus {
  color: #171e29;
}

.signupbutton:hover {
  background-color: black;
  border-color: black;
  fill: black;
}

.signupbutton:active {
  background-color: gold;
  border-color: gold;
  fill: gold;
}

@media (min-width: 600px) {
  .signupbutton {
    min-width: 50px;
  }
}