.Login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.appLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo img{
 margin-left: 130px;
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.LoginBox{
  margin-top: 8rem;
  width: 350px;
  height: 400px;
  background-color: rgb(221, 22, 39);
  padding: 100px;
}
.LoginHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
}

.email{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
}
.inputs{
  padding: 20px;
}
.password{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
}
.submitbutton{
  width: 60px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 6px;
  align-items: center;
  justify-content : center;
  margin-right: 90px;
}
.submitbutton:hover{
 background-color: gray;
}
.inputs{
  padding: 20px;
}
.signupbutton{
  width: 60px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 6px;
  align-items: right;
  justify-content: right;
}
.signupbutton:hover{
  background-color: gray;
}