.Login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.appLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo img{
 margin-left: 130px;
  width: 250px;
  height: 100px;
  object-fit: cover;
}

.LoginBox{
  margin-top: 8rem;
  width: 350px;
  background-color: goldenrod;
  padding: 30px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.LoginHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
}

.email{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
}
.inputs{
  padding: 20px;
}
.password{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
}
.submitbutton{
  background-color: #023020; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  margin-right: 90px;
}
.submitbutton:hover{
 background-color: orange;
}
.inputs{
  padding: 20px;
}
.signupbutton{
  background-color: #023020; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.signupbutton:hover{
  background-color: orange;
}

.showPasswordLink {
  text-decoration: underline;
  color: white;
  cursor: pointer;

}

.showPasswordLink:hover {
  color: black;
}

.forgotPasswordLink {
  text-decoration: underline;
  color: white;
  cursor: pointer;
  margin-left: 90px;

}
.forgotPasswordLink:hover {
  color: black;
}
